<!-- Negotiation Cards -->
<div class="lead-card" data-lead-id="11">
    <div class="lead-number">#104578</div>
    <div class="lead-name">Пентхаус с бассейном</div>
    <div class="lead-details">Роскошный пентхаус с частным бассейном и видом на океан</div>
    <div class="lead-tags">
        <span class="lead-tag">Пентхаус</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0</div>
        <div class="lead-date">7 мая</div>
    </div>
</div>

<div class="lead-card" data-lead-id="12">
    <div class="lead-number">#104422</div>
    <div class="lead-name">Участок земли в Лагуне</div>
    <div class="lead-details">Большой участок земли для застройки с видом на лагуну</div>
    <div class="lead-tags">
        <span class="lead-tag">Земля</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0</div>
        <div class="lead-date">5 мая</div>
    </div>
</div>

<div class="lead-card" data-lead-id="13">
    <div class="lead-number">#104319</div>
    <div class="lead-name">Офис в бизнес-центре</div>
    <div class="lead-details">Престижный офис в современном бизнес-центре с панорамными окнами</div>
    <div class="lead-tags">
        <span class="lead-tag">Офис</span>
        <span class="lead-tag">Аренда</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0/мес</div>
        <div class="lead-date">3 мая</div>
    </div>
</div>

<!-- Booked Cards -->
<div class="lead-card" data-lead-id="14">
    <div class="lead-number">#104267</div>
    <div class="lead-name">Семейная вилла с видом на океан</div>
    <div class="lead-details">Просторная семейная вилла с 5 спальнями и бассейном, расположенная на холме</div>
    <div class="lead-tags">
        <span class="lead-tag">Вилла</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0</div>
        <div class="lead-date">1 мая</div>
    </div>
</div>

<div class="lead-card" data-lead-id="15">
    <div class="lead-number">#104156</div>
    <div class="lead-name">Кондо в Камале</div>
    <div class="lead-details">Современные апартаменты с 2 спальнями в новом ЖК с бассейном и фитнесом</div>
    <div class="lead-tags">
        <span class="lead-tag">Кондо</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0</div>
        <div class="lead-date">28 апреля</div>
    </div>
</div>

<div class="lead-card" data-lead-id="16">
    <div class="lead-number">#104022</div>
    <div class="lead-name">Ресторан в Патонге</div>
    <div class="lead-details">Действующий ресторан с полным оборудованием и клиентской базой</div>
    <div class="lead-tags">
        <span class="lead-tag">Бизнес</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0</div>
        <div class="lead-date">25 апреля</div>
    </div>
</div>

<div class="lead-card" data-lead-id="17">
    <div class="lead-number">#103945</div>
    <div class="lead-name">Таунхаус в Лагуне</div>
    <div class="lead-details">Современный таунхаус в охраняемом поселке с общим бассейном и территорией</div>
    <div class="lead-tags">
        <span class="lead-tag">Таунхаус</span>
        <span class="lead-tag">Аренда</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0/мес</div>
        <div class="lead-date">22 апреля</div>
    </div>
</div>

<!-- Cancelled Cards -->
<div class="lead-card" data-lead-id="18">
    <div class="lead-number">#103856</div>
    <div class="lead-name">Студия в центре Патонга</div>
    <div class="lead-details">Компактная студия в центральной части Патонга, рядом с магазинами и ресторанами</div>
    <div class="lead-tags">
        <span class="lead-tag">Студия</span>
        <span class="lead-tag">Аренда</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0/мес</div>
        <div class="lead-date">18 апреля</div>
    </div>
</div>

<div class="lead-card" data-lead-id="19">
    <div class="lead-number">#103745</div>
    <div class="lead-name">Участок рядом с морем</div>
    <div class="lead-details">Большой участок земли в 500 метрах от пляжа, подходит для строительства вилл</div>
    <div class="lead-tags">
        <span class="lead-tag">Земля</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$0</div>
        <div class="lead-date">15 апреля</div>
    </div>
</div>