<div class="lead-card" data-lead-id="11">
    <div class="lead-number">#104578</div>
    <div class="lead-name">Пентхаус с бассейном</div>
    <div class="lead-details">Роскошный пентхаус с частным бассейном и видом на океан</div>
    <div class="lead-tags">
        <span class="lead-tag">Пентхаус</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$1,500,000</div>
        <div class="lead-date">7 мая</div>
    </div>
</div>

<div class="lead-card" data-lead-id="12">
    <div class="lead-number">#104422</div>
    <div class="lead-name">Участок земли в Лагуне</div>
    <div class="lead-details">Большой участок земли для застройки с видом на лагуну</div>
    <div class="lead-tags">
        <span class="lead-tag">Земля</span>
        <span class="lead-tag">Продажа</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$950,000</div>
        <div class="lead-date">5 мая</div>
    </div>
</div>

<div class="lead-card" data-lead-id="13">
    <div class="lead-number">#104319</div>
    <div class="lead-name">Офис в бизнес-центре</div>
    <div class="lead-details">Престижный офис в современном бизнес-центре с панорамными окнами</div>
    <div class="lead-tags">
        <span class="lead-tag">Офис</span>
        <span class="lead-tag">Аренда</span>
    </div>
    <div class="lead-meta">
        <div class="lead-price">$2,800/мес</div>
        <div class="lead-date">3 мая</div>
    </div>
</div>